.headerMain {
  text-align: center;
  margin-bottom: 4px;
}

.intro {
  margin: 8px 0px;
  white-space: pre-line;
}

.headerTitle {
  font-size: 1.25em;
  font-weight: bold;
}

.sectionMain {
  margin: 6px 0px;
}

.sectionTitle {
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  font-weight: bold;
}

.sectionTitle span::first-letter {
  font-size: 1.25em;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 4px 0px;
}

.jobHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jobTitle {
  font-weight: bold;
}

.jobCompanyName {
  font-weight: bold;
}

.jobDuration {
  font-weight: bold;
  width: 140px;
  text-align: right;
}

.jobWorkExpSection {
  margin: 0px 0px;
}

.marker {
  margin-right: 4px;
}
