:root {
  --page-width: 220mm;
  --page-height: 312mm;
}

body {
  font-family: "EB Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 10mm;
  line-height: 1.4;
  width: var(--page-width);
  height: var(--page-height);

  .App {
    margin: 0;
    width: 100%;
  }
}

h1 {
  margin: 0px;
}

ul {
  padding-inline-start: 20px;
}

@media print {
  @page {
    size: var(--page-width) var(--page-height);
    size: portrait;
    margin: 0;
  }

  .App {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
