:root {
  --page-width: 216mm;
  --page-height: 297mm;
}

body {
  font-family: "EB Garamond", serif;

  margin: 0;
  padding: 13mm;
  line-height: 1.4;
  width: var(--page-width);
  height: var(--page-height);

  .App {
    margin: 0;
    width: 100%;
  }
}

h1 {
  margin: 0px;
}

ul {
  padding-inline-start: 20px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

@media print {
  @page {
    size: var(--page-width) var(--page-height);
    size: portrait;
    margin: 0;
  }

  footer {
    page-break-after: always;
  }

  .App {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
